<% layout('layouts/boilerplate') %>
    
    <div class="row">
        
        <h1 class="text-center">add/remove image</h1>
        
            <div class="col-6 offset-3 ">
                <!-- <div class="card  " style="width: 60rem;">
                
                
                </div> -->
                <form action="/userinfo/<%=hr._id%>/i3?_method=PUT" method="POST" novalidate class="needs-validation"  enctype="multipart/form-data">
                    
                    <div class="card" style="width: 33rem;">
                   
   
              
                        <div class="card-body">
                         
                      
                          <% hr.image3.forEach((img, i) => {  %>
                          <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                         
                            <img src="<%= img.url%>" class="d-block w-50" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>">Delete?</label>
                              
                          </div>
                          
                        
                          <% }) %>
                      
                      </div>    
                      
                      
                                       
                                        </div>
                                        <% if(!hr.image3.length){ %>
                                             <div class="form-file custom-file">
                                            <input type="file" class="form-file-input" id="image" name="image" >
                                            <label class="form-file-label" for="image">
                                                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                                <span class="form-file-button">Browse</span>
                                            </label>
                                        </div>
                                          
                                         <% } %>
                                        
                   
                    <div class="mb-3">
                        <button class="btn btn-success">update data</button>
                    </div>
                </form>
            </div>
        </div>
        
        
    </div>
<script src="/clientvalidate.js">


</script>    
